@model IEnumerable<FullFits_MarkSherriff.Models.Catalog>
@using FullFits_MarkSherriff.Models;
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/ClientLayout.cshtml";

    FullFitsDatabaseEntity db = new FullFitsDatabaseEntity();

    int counter = 0;

    List<Dictionary<string, string>> myCart = null;

    ViewData["cartTotal"] = 0.00;
}

    <h2>Cart</h2>

    <form class="form-horizontal" method="post">
        <table class="table">

            @if (Session["Cart"] != null)
            {
                myCart = (List<Dictionary<string, string>>)Session["Cart"];

                if(IsPost && Request.Form["buy"] != null)
                {
                    if (Session["signedInUserId"] != null)
                    {
                        //add to orders
                        Sale order = new Sale();
                        order.UserId = (int)Session["signedInUserId"];
                        order.Date = DateTime.Now;
                        order.Price = float.Parse(Request.Form["buy"]);
                        order.Status = "Ordered";
                        string receiptString = "Receipt:\n\n";
                        foreach (var itemInfo in myCart.ToList())
                        {
                            int? id = int.Parse(itemInfo["id"]);
                            Catalog item = db.Catalogs.Find(id);
                            //make a receipt
                            receiptString += "Item id: " + itemInfo["id"] + "\n Order: "
                                + itemInfo["quantity"] + " "
                                + itemInfo["color"] + " "
                                + item.Title + " outfits, size "
                                + itemInfo["size"] + "\n Notes: "
                                + itemInfo["notes"] + "\n\n";
                        }
                        order.Receipt = receiptString;

                        db.Sales.Add(order);
                        db.SaveChanges();

                        Session.Remove("Cart");
                        Response.Redirect("Orders");
                    }
                    else
                    {
                        <tr>
                            <td>
                                <h3 style="color:red;">Error, Please Sign In or Register</h3>
                            </td>
                        </tr>
                    }
                }

                counter = 0;
                foreach (var itemInfo in myCart.ToList())
                {
                    if (IsPost && Request.Form["saveCart"] != null)
                    {
                        itemInfo["quantity"] = (string)Request.Form[counter.ToString() + "quantity"];
                        itemInfo["color"] = (string)Request.Form[counter.ToString() + "color"];
                        itemInfo["size"] = (string)Request.Form[counter.ToString() + "size"];
                        itemInfo["notes"] = (string)Request.Form[counter.ToString() + "notes"];
                        myCart[counter] = itemInfo;
                    }

                    int? id = int.Parse(itemInfo["id"]);
                    Catalog item = db.Catalogs.Find(id);

                    byte[] imgByte = (byte[])(item.Image); //convert binary into byte
                    string src = Convert.ToBase64String(imgByte); //convert byte to string

                    src = "data:Image/png;base64," + src; //send image url along with neccessary directory

                    string quantityName = counter.ToString() + "quantity";
                    string colorName = counter.ToString() + "color";
                    string sizeName = counter.ToString() + "size";
                    string notesName = counter.ToString() + "notes";
                    ViewData["cartTotal"] = float.Parse(ViewData["cartTotal"].ToString()) + (item.Price * int.Parse(itemInfo["quantity"].ToString()));


                    <tr>
                        <td>
                            <img src="@src" height="300" />
                        </td>
                        <td>
                            &nbsp; <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                            &nbsp; <p style="font-weight:bold; font-size:15px;">$@(item.Price * int.Parse(itemInfo["quantity"]))</p>

                            <div class="form-group">
                                <label class="control-label col-sm-2" style="font-weight:normal" for="quantity">quantity:</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="@quantityName" id="quantity" value="@itemInfo["quantity"]">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" style="font-weight:normal" for="color">color:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        @if (itemInfo["color"] == "red")
                                        {<input type="radio" name="@colorName" id="red" value="red" checked>}
                                        @if (itemInfo["color"] != "red")
                                        {<input type="radio" name="@colorName" id="red" value="red">} red
                                    </label>
                                    <label class="radio-inline">
                                        @if (itemInfo["color"] == "yellow")
                                        {<input type="radio" name="@colorName" id="yellow" value="yellow" checked>}
                                        @if (itemInfo["color"] != "yellow")
                                        {<input type="radio" name="@colorName" id="yellow" value="yellow">} yellow
                                    </label>
                                    <label class="radio-inline">
                                        @if (itemInfo["color"] == "green")
                                        {<input type="radio" name="@colorName" id="green" value="green" checked>}
                                        @if (itemInfo["color"] != "green")
                                        {<input type="radio" name="@colorName" id="green" value="green">} green
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="font-weight:normal" for="size">size:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        @if (itemInfo["size"] == "small")
                                        {<input type="radio" name="@sizeName" id="small" value="small" checked>}
                                        @if (itemInfo["size"] != "small")
                                        {<input type="radio" name="@sizeName" id="small" value="small">} small
                                    </label>
                                    <label class="radio-inline">
                                        @if (itemInfo["size"] == "medium")
                                        {<input type="radio" name="@sizeName" id="medium" value="medium" checked>}
                                        @if (itemInfo["size"] != "medium")
                                        {<input type="radio" name="@sizeName" id="medium" value="medium">} medium
                                    </label>
                                    <label class="radio-inline">
                                        @if (itemInfo["size"] == "large")
                                        {<input type="radio" name="@sizeName" id="large" value="large" checked>}
                                        @if (itemInfo["size"] != "large")
                                        {<input type="radio" name="@sizeName" id="large" value="large">} large
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="font-weight:normal" for="notes">notes:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="notes" name="@notesName" value="@itemInfo["notes"]">
                                </div>
                            </div>

                        </td>
                    </tr>
                    counter++;
                }
                Session["Cart"] = myCart;
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="saveCart" name="saveCart" class="btn btn-default btn-primary">save cart</button>
                            </div> &nbsp;
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="buy" name="buy" value="@ViewData["cartTotal"]" class="btn btn-default btn-success">buy outfits</button>
                                &nbsp;Cart Total: <label style="font-weight:bolder; font-size:20px;">$@ViewData["cartTotal"]</label>
                            </div>
                        </div>
                     </td>
                </tr>
            }
            else
            {
                myCart = new List<Dictionary<string, string>>();
                <tr>nothing in your cart</tr>
            }

        </table>
        
    </form>
