@model IEnumerable<FullFits_MarkSherriff.Models.Sale>
@using FullFits_MarkSherriff.Models
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/ClientLayout.cshtml";

    FullFitsDatabaseEntity db = new FullFitsDatabaseEntity();

}

<h2>Your Orders</h2>

@if (Session["signedInUserId"] != null)
{
<table>
    @foreach (var order in Model)
    {
        if (order.UserId.Equals(int.Parse(Session["signedInUserId"].ToString())))
        {
            <tr>
                <td>
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="font-weight:normal" for="order">order id:</label>
                            <div class="col-sm-10">
                                @order.Id
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="font-weight:normal" for="number">date:</label>
                            <div class="col-sm-10">
                                @order.Date
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="font-weight:normal" for="email">email:</label>
                            <div class="col-sm-10">
                                @order.Account.email
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="font-weight:normal" for="password">receipt:</label>
                            <div class="col-sm-10">
                                @order.Receipt
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="font-weight:normal" for="address">price:</label>
                            <div class="col-sm-10">
                                @order.Price
                            </div>
                        </div>
                    </form>
                    <br /><br />
                </td>
            </tr>
        }
    }
</table>
}
else
{
    <h2>No Orders. Please Sign In.</h2>
}