<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    
    <div class="navbar navbar-inverse bg-primary navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                   @Html.ActionLink("FULL FITS", "Index", "Client", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("CATALOG", "Index", "Client", new { area = "" }, new { @class = "navbar-item" })
                    </li>
                    <li>
                        @Html.ActionLink("CART", "Cart", "Client", new { area = "" }, new { @class = "navbar-item" })
                    </li>
                    <li>
                        @Html.ActionLink("ORDERS", "Orders", "Client", new { area = "" }, new { @class = "navbar-item" })
                    </li>
                    <li>
                        @Html.ActionLink("ACCOUNT", "AccountPage", "Client", new { area = "" }, new { @class = "navbar-item" })
                    </li>
                    @if (Session["signedInUserId"] != null && Session["signedInUserId"].ToString() == "2")
                    {
                        <li>
                            @Html.ActionLink("ADMIN", "Index", "Catalogs", new { area = "" }, new { @class = "navbar-item" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>